body{
    font-family: sans-serif;
    text-align: center;
}

nav{
    background-color: teal;
    border-radius: .2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-weight: 700;
}

table{
    border-collapse: collapse;
    width: 400px;
    max-width: 80%;
}

td{
    border:1px solid black;
    padding: .3em;
}

div.contenu, header{
    padding: 1em;
    margin: 3% 10% 3% 10%;
    background-color: whitesmoke;
    border: .1em teal solid;
    border-radius: .2em;
    max-width: 90%;
}

/*div.contenu{
    display: flex;
}*/

/*div.contenu:hover, header:hover{
    box-shadow: 0em 1em 2em cornflowerblue;
}*/

video, audio{
    max-width: 80%;
}

a{
    color: black;
}

a:hover{
    color: orange;
}

footer{
    color: teal;
    font-size: small;
    max-width: 80%;
    margin: auto;
    font-style: italic;
}